<div class="card pt-3">

    <div class="grid p-fluid mt-0">
        <div class="col-9 md:col-10"></div>
        <div class="col-3 md:col-2">
            <button class="btn btn-primary" (click)="novoCadastro()">
                <i class="pi pi-plus pr-1"></i>
                <span>Novo Ingrediente</span>
            </button>
        </div>
        <div class="col-12 md:col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th style="width: 200px;">Data Cadastro</th>
                        <th style="width: 180px;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ingrediente of ingredientes;">
                        <td>{{ingrediente.id}}</td>
                        <td>{{ingrediente.nome}}</td>
                        <td>{{ingrediente.dataCadastro | date:"dd/MM/yyyy"}}</td>
                        <td style="text-align:center;">
                            <button class="btn btn-primary btn-sm" (click)="editarIngrediente(ingrediente.id)">
                                <i class="pi pi-pencil pr-1"></i>
                                <span>Editar</span>
                            </button>
                            <button class="btn btn-danger btn-sm ml-1" (click)="excluirIngrediente(ingrediente.id)">
                                <i class="pi pi-times pr-1 mt-1"></i>
                                <span>Excluir</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <p-confirmDialog ></p-confirmDialog>
    </div>
</div>



