<div class="card pt-3">
    
    <div class="grid p-fluid mt-0" >
        <div class="col-9 md:col-10"></div>
        <div class="col-3 md:col-2">
            <button class="btn btn-primary" (click)="novoCadastro()">
                <i class="pi pi-plus pr-1"></i>
                <span>Nova Receita</span>
            </button>
        </div>
        <div class="field col-12 md:col-12" >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Modo de Preparo</th>
                        <th>Data de Cadastro</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let receita of receitas;">
                        <td>{{receita.id}}</td>
                        <td>{{receita.nome}}</td>
                        <td>{{receita.modoPreparo}}</td>
                        <td>{{receita.dataCadastro}}</td>
                        <td style="text-align:center;">
                            <button class="btn btn-primary btn-sm" (click)="editarReceita(receita.id)">
                                <i class="pi pi-pencil pr-1"></i>
                                <span>Editar</span>
                            </button>
                            <button class="btn btn-danger btn-sm ml-1" (click)="excluirReceita(receita.id)">
                                <i class="pi pi-times pr-1 mt-1"></i>
                                <span>Excluir</span>
                            </button>
                        </td>
                        <td><button class="btn btn-primary text-light" aria-pressed="true" role="button" (click)="receitaIngrediente(receita.id)" >Adicionar Ingrediente</button></td>
                        <td><button class="btn btn-info text-light" aria-pressed="true" role="button" (click)="relatorio(receita)" >relatorio</button></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <p-confirmDialog ></p-confirmDialog>
    </div>
</div>


