<div class="card pt-3">

    <div class="grid p-fluid mt-0" >
        <div class="col-9 md:col-10"></div>
        <div class="col-3 md:col-2">
            <button class="btn btn-primary" (click)="novoCadastro()">
                <i class="pi pi-plus pr-1"></i>
                <span>Novo Ingrediente</span>
            </button>
        </div>
        <div class="field col-12 md:col-12" >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Receita</th>
                        <th>Ingrediente</th>
                        <th>Quantidade</th>
                        <th>Unidade Medida</th>
                        <th>Data cadastro</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let receitaIngrediente of receitaIngrediente;">
                        <td>{{receitaIngrediente.id}}</td>
                        <td>{{receitaIngrediente.receitaId}}</td>
                        <td>{{receitaIngrediente.ingredienteId}}</td>
                        <td>{{receitaIngrediente.quantidade}}</td>
                        <td>{{receitaIngrediente.unidadeMedidaId}}</td>
                        <td>{{receitaIngrediente.dataCadastro}}</td>
                        <td><button class="btn btn-sm btn-secondary text-light ml-1" aria-pressed="true" role="button" (click)="fechar()" >
                            <i class="pi pi-file-edit"></i>
                        </button></td>
                        <td><button class="btn btn-danger text-light" aria-pressed="true" role="button" (click)="excluirReceitaIngrediente(receitaIngrediente.id)" >Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <p-confirmDialog ></p-confirmDialog>
    </div>   
</div>